<form action="/voulenteer" method="GET">
    <h3>翻譯類別</h3>

    <div id="tans_select">
        <a href="/voulenteer?type=chi" class="letter_type_button" name="chi">中翻英</a>
        <a href="/voulenteer?type=eng" class="letter_type_button" name="eng">英翻中</a>
    </div>
    <% end %>
</form>