<html> 
	<head> 
		<title>Happy Moon's Festival with do~do~lo~~</title> 
		<style type="text/css" media="screen"> 
			body { margin: 0; padding: 0; }
			#overlay { position: absolute; top: 15%; left: 10%; }
			#overlay img{opacity:0.8;filter:alpha(opacity=80);}
		</style> 
	</head> 
	<body>
		<% if @target_url != nil%> 
		<iframe width="100%" height="100%" src="<%=@target_url%>" border="0" noborder="noborder" frameborder="0" padding="0" spacing="0"></iframe> 
		<% end %>
		<div id="overlay"><img height="300px" src="http://www.worldvision-tw.appspot.com/serve?blob-key=AMIfv97LN6GnDc1ltlCEgwv6eOmCsgqBGqRcA-YplhM90FX2HhEcWvs16Rrk5c3MMAOSS0Ji4zbP7QH6QXZ62BLtoFwCq2OZxx5AUwp3P2gCPgk5QcgqxK-eiK6ID4NOpfLhmqKkepeZibWNSH-NI1gS9xpOQv7AKg"></div> 
	</body> 
</html>