<div style="position: relative; left:570px">歡迎, <%= current_user.account %><a href="/logout">登出</a></div>
<div style="position: relative; right: 10px; width:920px; height: 80px; background-image:url('/b4.png');"></div>
<div style="width:920px; height: 200px; background-image:url('/b1.png');"></div>
