<html>
<head>
    <title>World Vision</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        .header {
            width: 130px;
            float: left;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body style="font-family: sans-serif;">

<div style="width: 190px; border: 1px solid lightgray; left: 40%; top: 150px; position: relative">
    <form method=post action="/login">
        <table border="0.5">
            <tr>
                <td colspan="2" style="color: white; background-color:orange">登入NEXT-志工翻譯系統</td>
            </tr>
            <tr>
                <td>帳號</td>
                <td><input name="email"/></td>
            </tr>
            <tr>
                <td>密碼</td>
                <td><input TYPE=PASSWORD name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type=submit value=登入.></td>
            </tr>
            <% if @fail %>
                <tr>
                    <td colspan="2">

                        <div class="error">帳號或密碼錯誤</div>

                    </td>
                </tr>
            <% elsif @not_allowed_login %>
                <tr>
                    <td colspan="2">

                        <div class="error">無登入權限, 如有問題請email至srdvs@worldvision.org.tw</div>

                    </td>
                </tr>
            <% end %>
        </table>
    </form>
</dir>
</table>
</body>
</html>