<html>
  <head>
    <title>World Vision</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
.header{
	width: 130px;
	float: left;
}
.error{
	color: red;
}
</style>
  </head>
  <body style="font-family: sans-serif;">


<form method=post action="/login">
  <div class="header">account</div> <input name="account" ></input><br/>
  <div class="header">password</div> <input name="password"></input><br/>
	 <input type=submit value=Login>
  </form>
  <%if @login_error%>
	  <div class="error"><%=@login_error%></div>
  <%end%>
    <div style="position: absolute; bottom: 20px; right: 20px;">
    <img src="/images/appengine.gif"></div>
  </body>
</html>