<div style="position: relative; left:700px">歡迎, <%= current_user.account %><a href="/logout">登出</a></div>
<img style="position: relative; right: 10px; width:980px; height: 80px;" src='/b4.png' ismap="true" usemap="#mymap" border="0"/>
<img style="width:990px; height: 200px" src="/b1.png" />
<map name="mymap">
    <area shape="rect" coords="0,0,100,50"
          href="/volunteer" alt="Click here to the Home Page">
</map>
