h1{
	background-color: #E96326;
	color: white;
	height: 50px;
	padding: 10px;
}
#search th{
	background-color: white;
	color:black;
}
#search td{
border: none;
}

table{
	border-collapse: collapse;
	table-layout:fixed;
	width:920px;
}

table.nowidth{
	width: auto;
}
th {
	height: 30px;
background-color: #E96326;
color: white;
font-size: 14px;
}
tbody{
	border-color: inherit;
	display: table-row-group;
}
tr{
	display: table-row;
}
td{
	border: 1px solid black;
	font-size: 14px;
}
td.wrap{
	word-wrap:break-word;
}

a.orange{
	background-color: #E96326;
	color: white;
	font-size: 16px;
/*	text-decoration:none;*/
/*	height:3;*/
}

body{
	width:900px;
	position:absolute; left:15%;
}

body.employee{
	left: 5%;
}

div.orange{
	padding:5px;
	background-color: #E96326;
	color: white;
	font-size: 16px;
	width:1140px;
}

.option-text{
    font-size: 3em;
}

a.letter_type_button{
    font-size: 1.17em;
}
