<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="#" class="brand">NEX-T<span class="label label-warning">台灣世界展望會翻譯志工網站</span><span class="label label-important">新介面測試版! Ver1.0.1</span></a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
        歡迎, <a class="navbar-link" href="#"><%= current_user.account %></a><a href="/logout" class="btn btn-info">登出</a>
        </p>
        <form action="/volunteer" method="GET">
          <ul class="nav">
            <li class="<%= @trans_type == 'eng' ? '':'active' %>">
              <a href="/volunteer?type=chi" class="letter_type_button" name="chi">中翻英</a>
            </li>
            <li class="<%= @trans_type == 'chi' ? '': 'active' %>">
              <a href="/volunteer?type=eng" class="letter_type_button" name="eng">英翻中</a>
            </li>
            <li>
              <a href="/employee/country" >管理國家</a>
            </li>
          </ul>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
