<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="/employee" class="brand"><u>NEX-T 志工翻譯網頁</u></a>
      <div class="nav-collapse">
        <div class="nav pull-right">
          <span>歡迎, <%= current_user.account %></span><a id="logout" href="/logout" class="btn">登出</a>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <h5 class="pull-right">NEXUS Translation -- connection between sponsors and children</h5>
</div>
