<div style="position: relative; left:800px">歡迎, <%= current_user.account %> <a href="/logout">登出</a></div>
<div style="position: relative; right: 10px; width:1160px; height: 80px; background-image:url('/b4-wide.png');"></div>
<div style="width:1150px; height: 200px; background-image:url('/b1-wide.png');"></div>
