<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="#" class="brand">NEX-T 志工翻譯網頁</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
        <span>歡迎, <%= current_user.account %></span><a href="/logout" class="btn btn-info">登出</a>
        </p>
        <form action="/volunteer" method="GET">
          <ul class="nav">
            <li class="<%= @trans_type == 'eng' ? '':'active' %>">
              <a href="/employee?type=chi" class="letter_type_button" name="chi">中翻英</a>
            </li>
            <li class="<%= @trans_type == 'chi' ? '': 'active' %>">
              <a href="/employee?type=eng" class="letter_type_button" name="eng">英翻中</a>
            </li>
            <li>
              <a href="/employee/country" >管理國家</a>
            </li>
          </ul>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
