<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="/employee" class="brand"><u>NEX-T 志工翻譯網頁</u></a>
      <div class="nav-collapse">
        <div class="nav pull-right">
          <span>歡迎, <%= current_user.account %></span><a id="logout" href="/logout" class="btn">登出</a>
        </div>
        <ul class="nav">
          <li class="<%= @trans_type == 'eng' ? '':'active' %>">
          <a href="/employee?type=chi" class="letter_type_button" name="chi">中翻英</a>
          </li>
          <li class="<%= @trans_type == 'chi' ? '': 'active' %>">
          <a href="/employee?type=eng" class="letter_type_button" name="eng">英翻中</a>
          </li>
          <li>
          <a href="/employee/country"><i class="icon icon-signout"></i>管理國家</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <h5 class="sub-brand">NEXUS Translation -- connection between sponsors and children</h5>
</div>
