<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>World Vision</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; 
      }
      .container {
        width: 300px;
      }
      h2 {
        text-align: center;
        font-size: 20px;
        background-color: orange;
        color: white;
        -webkit-border-radius: 2px 2px 2px 2px;
        -moz-border-radius: 2px 2px 2px 2px;
        border-radius: 2px 2px 2px 2px;
      }

      input {
        width: 220px;
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      .login-form {
        margin-left: 20px;
      }

      .form-horizontal .control-label {
        width: 40px;
      }

      .form-horizontal .controls {
        margin-left: 50px;
      }

      legend {
        margin-right: -50px;
        font-weight: bold;
        color: #404040;
      }
      
      #browser-warning {
        margin-left: 20px;
        display: none;
      }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34902118-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body style="font-family: sans-serif;">
    <div class="container">
      <div class="content">
      <div class="row">
        <div id="browser-warning" class="alert alert-block hidden">
          <h4>瀏覽網站最佳瀏覽器-建議使用Firefox、IE8以上版本</h4>
          <a href="http://windows.microsoft.com/zh-TW/internet-explorer/downloads/ie-8">Mircosoft IE8+</a>, <a href="http://mozilla.com.tw/firefox/download/">Mozilla Firefox</a>, <a href="https://www.google.com/intl/zh-TW/chrome/browser/">Google Chrome</a>
        </div>
        <div class="login-form">
          <h2>NEX-T 志工翻譯網頁</h2>
          <form action="/login" method=post class="form-horizontal">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="email">帳號</label>
                <div class="controls">
                  <input type="text" id="email" name="email">
                </div>
                <div class="controls">
                  (如：srdvs@worldvision.org.tw)
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password">密碼</label>
                <div class="controls">
                  <input type="password" id="password" name="password">
                </div>
                <div class="controls">
                  (西元出生年月日，如：19860308)
                </div>
              </div>
              <% if @fail %>
              <div class="clearfix alert alert-error">帳號或密碼錯誤</div>
              <% elsif @not_allowed_login %>
              <div class="clearfix alert alert-error">無登入權限, 如有問題請email至srdvs@worldvision.org.tw</div>
              <% end %>
              <button class="btn primary" type="submit">登入</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
  <script type="text/javascript" src="/wv.js"></script>
</body>
</html>
