<html>
<body>

<form action="/test2" method="post">
    <input type="checkbox" name="db[]" class="db" value="track"/><label for="track">track</label></br>
    <input type="checkbox" name="db[]" class="db" value="gps"/><label for="gps">gps</label></br>
    <input type="checkbox" name="db[]" class="db" value="accounting"/><label for="accounting">accounting</label></br>
    <input type="submit" value="go">
</form>
</body>
</html>