<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a href="/volunteer" class="brand"><u>NEX-T 志工翻譯網頁</u></a>
      <div class="nav-collapse">
        <div class="nav pull-right">
          <span>歡迎, <%= current_user.account %></span><a id="logout" href="/logout" class="btn">登出</a>
        </div>
        <ul class="nav">
          <% if @account_trans_type && @account_trans_type == 'both' || @account_trans_type =='chi' %>
            <li class="<%= @trans_type == 'eng' ? '':'active' %>">
            <a href="/volunteer?type=chi" class="letter_type_button" name="chi">中翻英</a>
            </li>
          <% end %>
          <% if @account_trans_type && @account_trans_type == 'both' || @account_trans_type =='eng' %>
            <li class="<%= @trans_type == 'chi' ? '': 'active' %>">
            <a href="/volunteer?type=eng" class="letter_type_button" name="eng">英翻中</a>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <h5 class="pull-right">NEXUS Translation -- connection between sponsors and children</h5>
</div>
